.env
.env.*
.github
.idea
.venv
.DS_Store
.ipynb_checkpoints
docs
kubernetes
node_modules
/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
_old
_test
uploads
/backend/data/*
/backend/data/litellm/*
!/backend/data/litellm
!/backend/data/litellm/config.yaml
!/backend/data/config.json

